rpa_transitions = [
{%- for edge in edges %}
{%- if edge.conditions and edge.unless %}
    Transition(source=States.{{ edge.source }} , dest=States.{{ edge.target }}, conditions={{ edge.conditions }}, unless={{ edge.unless }}),
{%- elif edge.conditions and not edge.unless %}
    Transition(source=States.{{ edge.source }} , dest=States.{{ edge.target }}, conditions={{ edge.conditions }}),
{%- elif not edge.conditions and edge.unless %}    
    Transition(source=States.{{ edge.source }} , dest=States.{{ edge.target }}, unless={{ edge.unless }}),
{%- else %}    
    Transition(source=States.{{ edge.source }} , dest=States.{{ edge.target }}),
{% endif %}
{%- endfor %}
]